
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,800');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

body {
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
    background-color: #fffdf4;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.x-project {
    @apply .block .m-2 .p-3 .bg-white .rounded-lg .no-underline .text-black;
    @apply .border-4 .border-grey-lighter;
}
.x-project:hover {
    @apply .border-green;
}
.x-project h3 {
    @apply .block .text-2xl;
}
.x-project p {
    @apply .my-2 .block .text-xl;
}
.x-project img {
    @apply .block .rounded;
}

.x-input {
    @apply .w-full .p-2 .text-xl .border-4 .bg-white .rounded-lg;
}
.x-input:focus {
    @apply .outline-none;
    @apply .border-green;
}
textarea.x-input {
    @apply .block;
}

.x-button {
    @apply .p-2 .text-xl .border-4 .bg-grey-light .rounded-lg;
}
.x-button:active {
    @apply .bg-green;
}
.x-button:focus {
    @apply .outline-none;
    @apply .border-green;
}

a {
    @apply .no-underline;
    @apply .text-green-dark;
    &:hover {
        @apply .text-green-darker;
    }
}

.x-navigation {
    @apply .list-reset .block .w-full .justify-end .items-center .overflow-x-auto .overflow-y-visible .whitespace-no-wrap;

    & > li {
        @apply .inline-block;
    }
    & > li > a {
        @apply .block .border-b-4 .border-transparent .py-4 .px-4 .text-center .flex-1;
    }
    & > li > a.active {
        @apply .border-b-4 .border-green;
    }
}

// .x-post {
    // @apply .leading-normal;
    @apply .leading-tight;

    blockquote {
        @apply .px-4 .py-2;
        @apply .border-l-8 .border-grey-lighter;
    }
    code {
        @apply .px-2 .py-1;
        @apply .text-sm .text-green-darker;
        @apply .bg-green-lighter;
        @apply .rounded;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Avenir', sans-serif;
        @apply .mb-2 .mt-5 .font-semibold;
    }
    hr {
        @apply .border-b .border-grey-light;
    }
    img {
        max-width: 33%;
    }
    p {
        @apply .my-2 .leading-normal .text-lg;
    }
    pre {
        @apply .block;
        @apply .border .border-grey-dark .rounded;
        & code {
            @apply .block;
            @apply .text-grey-darkest;
            @apply .bg-white;
        }
    }
    strong {
        @apply .font-bold;
    }
    table {
        @apply .rounded;

        thead tr th {
            @apply .px-1 .py-1;
            @apply .border-b-2 .font-bold;
        }
        tbody tr {
            @apply .border-b;

            td {
                @apply .px-1 .py-1;
            }
        }
    }
// }





