@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css);.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

