@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
    background-color: #fbf7f0;
}

/*h1, h2, h3, h4, h5, h6 {*/
/*    font-weight: bold;*/
/*}*/

/*.x-input {*/
/*    @apply .w-full .p-2 .text-xl .border-4 .bg-white .rounded-lg;*/
/*}*/
/*.x-input:focus {*/
/*    @apply .outline-none;*/
/*    @apply .border-green;*/
/*}*/
/*textarea.x-input {*/
/*    @apply .block;*/
/*}*/

/*.x-button {*/
/*    @apply .p-2 .text-xl .border-4 .bg-grey-light .rounded-lg;*/
/*}*/
/*.x-button:active {*/
/*    @apply .bg-green;*/
/*}*/
/*.x-button:focus {*/
/*    @apply .outline-none;*/
/*    @apply .border-green;*/
/*}*/

/*!* An item is the project or post preview *!*/
/*.x-item {*/
/*    @apply .block .m-2 .bg-white .rounded-lg .no-underline;*/
/*    @apply .shadow;*/
/*    transition: all .2s ease-in-out;*/
/*}*/
/*.x-item:hover {*/
/*    @apply .shadow-md .border-grey-light;*/
/*    transform: scale(1.02);*/
/*}*/
/*.x-item-image {*/
/*    min-height: 100px;*/
/*    background-size: cover;*/
/*    background-position: center center;*/
/*    @apply .block;*/
/*}*/

/*a {*/
/*    @apply .text-green .no-underline;*/
/*    &:hover {*/
/*        @apply .text-green-dark;*/
/*    }*/
/*}*/

/*@apply .leading-tight;*/

/*.image-container img, .image-container embed {*/
/*    @apply .border-4 .border-grey-light .rounded-lg;*/
/*}*/

/*blockquote {*/
/*    @apply .px-4 .py-2;*/
/*    @apply .border-l-8 .border-grey-lighter;*/
/*}*/
/*code {*/
/*    @apply .px-2 .py-1;*/
/*    @apply .text-sm .text-green-darker;*/
/*    @apply .bg-green-lighter;*/
/*    @apply .rounded;*/
/*}*/
/*h1, h2, h3, h4, h5, h6 {*/
/*    font-family: 'Avenir', sans-serif;*/
/*    @apply .mb-2 .mt-5 .font-semibold;*/
/*}*/
/*hr {*/
/*    @apply .border-b .border-grey-light;*/
/*}*/
/*p {*/
/*    @apply .my-2 .leading-normal .text-lg;*/
/*}*/
/*ul > li {*/
/*    @apply .leading-normal .text-lg;*/
/*}*/
/*ol > li {*/
/*    @apply .my-2 .leading-normal .text-lg;*/
/*}*/
/*pre {*/
/*    @apply .block;*/
/*    @apply .border .border-grey-dark .rounded;*/
/*    & code {*/
/*        @apply .block;*/
/*        @apply .text-grey-darkest;*/
/*        @apply .bg-white;*/
/*    }*/
/*}*/
/*strong {*/
/*    @apply .font-bold;*/
/*}*/
/*table {*/
/*    @apply .rounded;*/

/*    thead tr th {*/
/*        @apply .px-1 .py-1;*/
/*        @apply .border-b-2 .font-bold;*/
/*    }*/
/*    tbody tr {*/
/*        @apply .border-b;*/

/*        td {*/
/*            @apply .px-1 .py-1;*/
/*        }*/
/*    }*/
/*}*/
